<!DOCTYPE html>
<html>
	<head><% include template/head.ejs %></head>
	<body>
		<div class="body">
			<% include template/headerBar.ejs %>
			<div role="main" class="main">
				<div class="slider-container">
					<div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 500}'>
						<ul>
							<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

								<img src="../img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

								<div class="tp-caption sft stb visible-lg"
									 data-x="-5"
									 data-y="180"
									 data-speed="300"
									 data-start="1000"
									 data-easing="easeOutExpo"><img src="../img/slides/slide-title-border.png" alt=""></div>

								<div class="tp-caption top-label lfl stl"
									 data-x="40"
									 data-y="180"
									 data-speed="300"
									 data-start="500"
									 data-easing="easeOutExpo">DO YOU WANT TO BRING YOUR BUSINESS TO </div>

								<div class="tp-caption sft stb visible-lg"
									 data-x="540"
									 data-y="180"
									 data-speed="300"
									 data-start="1000"
									 data-easing="easeOutExpo"><img src="../img/slides/slide-title-border.png" alt=""></div>

								<div class="tp-caption main-label sft stb"
									 data-x="135"
									 data-y="210"
									 data-speed="300"
									 data-start="1500"
									 data-easing="easeOutExpo">CLOUD?</div>

								<div class="tp-caption bottom-label sft stb"
									 data-x="185"
									 data-y="280"
									 data-speed="500"
									 data-start="2000"
									 data-easing="easeOutExpo">Check out our services and features.</div>

								<div class="tp-caption randomrotate"
									 data-x="905"
									 data-y="248"
									 data-speed="500"
									 data-start="2500"
									 data-easing="easeOutBack"><img src="../img/slides/slide-concept-2-1.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="955"
									 data-y="200"
									 data-speed="400"
									 data-start="3000"
									 data-easing="easeOutBack"><img src="../img/slides/slide-concept-2-2.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="925"
									 data-y="170"
									 data-speed="700"
									 data-start="3150"
									 data-easing="easeOutBack"><img src="../img/slides/slide-concept-2-3.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="875"
									 data-y="130"
									 data-speed="1000"
									 data-start="3250"
									 data-easing="easeOutBack"><img src="../img/slides/slide-concept-2-4.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="605"
									 data-y="80"
									 data-speed="600"
									 data-start="3450"
									 data-easing="easeOutExpo"><img src="../img/slides/slide-concept-2-5.png" alt=""></div>

								<div class="tp-caption blackboard-text lfb "
									 data-x="635"
									 data-y="300"
									 data-speed="500"
									 data-start="3450"
									 data-easing="easeOutExpo" style="font-size: 37px;">Think</div>

								<div class="tp-caption blackboard-text lfb "
									 data-x="660"
									 data-y="350"
									 data-speed="500"
									 data-start="3650"
									 data-easing="easeOutExpo" style="font-size: 47px;">Outside</div>

								<div class="tp-caption blackboard-text lfb "
									 data-x="685"
									 data-y="400"
									 data-speed="500"
									 data-start="3850"
									 data-easing="easeOutExpo" style="font-size: 32px;">The box :)</div>
							</li>
							<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >

								<img src="img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

									<div class="tp-caption sft stb"
										 data-x="155"
										 data-y="100"
										 data-speed="600"
										 data-start="100"
										 data-easing="easeOutExpo"><img src="../img/slides/slide-concept.png" alt=""></div>

									<div class="tp-caption blackboard-text sft stb"
										 data-x="285"
										 data-y="180"
										 data-speed="900"
										 data-start="1000"
										 data-easing="easeOutExpo" style="font-size: 30px;">easy to</div>

									<div class="tp-caption blackboard-text sft stb"
										 data-x="285"
										 data-y="220"
										 data-speed="900"
										 data-start="1200"
										 data-easing="easeOutExpo" style="font-size: 40px;">customize!</div>

									<div class="tp-caption main-label sft stb"
										 data-x="685"
										 data-y="190"
										 data-speed="300"
										 data-start="900"
										 data-easing="easeOutExpo">DESIGN WITH !</div>

									<div class="tp-caption bottom-label sft stb"
										 data-x="685"
										 data-y="250"
										 data-speed="500"
										 data-start="2000"
										 data-easing="easeOutExpo">Salesforce Solutions </div>

							</li>
						</ul>
					</div>
				</div>
				<div class="home-intro" id="home-intro">
					<div class="container">

						<div class="row">
							<div class="col-md-9">
								<p>
									<b >As a registered Salesforce ISV Partner, Codeometic has extensive experience in designing high performimg business solutions
									</b></br>

									<!--<span>Check out our services and features included.</span> -->
								</p>
							</div>
							<div class="col-md-3">
								<div class="get-started">
									<a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
									<div class="learn-more">or <a href="/">learn more.</a></div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container">

					<div class="row center">
						<div class="col-md-12" >
							<h1 class="short word-rotator-title">
								<b>Codeometic</b> helps
								<strong class="inverted">
									<span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
										<span class="word-rotate-items">
											<span>improve</span>
											<span>innovate</span>
											<span>implement</span>
										</span>
									</span>
								</strong>
								Salesforce CRM solutions.
							</h1>
							<p class="featured lead">
								We care customers over competitors. We understand how to rapidly increase your business values and ROI.
							</p>
						</div>
					</div>

				</div>

				<div class="home-concept" >
					<div class="container">
						<div class="row center" >
							<span class="sun"></span>
							<span class="cloud"></span>

							<div class="col-md-2">
								<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
									<img src="../img/plan1.png"  />
									<strong>Plan + Analyse</strong>
								</div>
							</div>
							<div class="col-md-2">
								<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
									<img src="../img/devv.png" alt="" />
									<strong>Design</strong>
								</div>
							</div>

							<div class="col-md-2" style="margin-top: -4%;" >
								<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="600">
									<img src="../img/code.png" alt=""  />
									<strong>Build + Validate</strong>
								</div>
							</div>
							<div class="col-md-4 " style="padding-left:10%" >
								<div class="project-image" data-appear-animation="bounceIn" data-appear-animation-delay="800" >
									<div id="fcSlideshow" class="fc-slideshow">
										<ul class="fc-slides">
											<li><a href="portfolio-single-project.html"><img  src="../img/dep6.png" /></a>
											</li>
											<li><a href="portfolio-single-project.html"><img  src="../img/dep3.png" /></a>
											</li>
											<!--<li><a href="portfolio-single-project.html"><img src="img/dep7.png" /></a>
											</li> -->
										</ul>
									</div>
									<strong class="our-work">Deploy</strong>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container">

					<div class="row">
						<hr class="tall" />
					</div>

				</div>

				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<h2>Our <strong>Features</strong></h2>
							<div class="row">
								<div class="col-sm-6">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-cloud"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Global Salesforce Practice</h4>
											<p class="tall">Combining agile deployment methodologies with deep market expertise, Codeometic leverages Salesforce to help you meet complex business and technology challenges</p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-university"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Codeometic Labs-Center of Excellence</h4>
											<p class="tall">Centers of Excellence give clients the opportunity to explore state-of-the-art solutions with minimum up-front investment while maximizing innovation and results.</p>
										</div>
									</div>

								</div>
								<div class="col-sm-6">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-group (alias)"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Training and Development</h4>
											<p class="tall">Get trained. Get certified. Get your business soaring.</p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-code-fork"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Web Development</h4>
											<p class="tall">We Develop Fully Functional Web Applications Which Perform Faster & Run Smoother</p>
										</div>
									</div>
									<!--<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-shopping-cart"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">E-commerce Solutions</h4>
											<p class="tall">Our e-commerce web developers teams are committed to work with clients to design web sites and develop ecommerce solutions up to their expectations</p>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					<hr class="tall" />

					<div class="row center">
						<div class="col-md-12">
							<h2 class="short word-rotator-title">
								We love to code and develop stuffs because it
								<strong>
									<span class="word-rotate" data-plugin-options='{"delay": 3500, "animDelay": 400}'>
										<span class="word-rotate-items">
											<span>is an art</span>
											<span>is a team effort</span>
											<span>makes a difference</span>
											<span>is fun</span>
										</span>
									</span>
								</strong>
								.
							</h2>
						</div>
					</div>
				</div>
			</div>
			<% include template/footerBar.ejs %>
		</div>
		<% include template/footLibs.ejs %>


		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12345678-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
		 -->

	</body>
</html>
