<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-ribbon">
        <span>Get in Touch</span>
      </div>
      <div class="col-md-4">
        <h4>Latest Tweets</h4>
        <div class="twitter-timeline" href="https://twitter.com/codeometic"
        data-widget-id="719729945010774016"
        data-aria-polite="assertive"
        data-chrome=" noscrollbar nofooter noheader noborders">
          <a >Please wait..</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          </script>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-details">
          <h4>Contact Us</h4>
          <ul class="contact">
            <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 3rd Floor, Ram Indu Park, Sai Heritage,Baner Rd Baner, Pune, India-411045 </p></li>
            <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (+91) 9922 604827</p></li>
            <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">info@testminds.in</a></p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <h4>Follow Us</h4>
        <div class="social-icons">
      <ul class="social-icons">
        <li class="facebook"><a href="https://www.facebook.com/Codeometic-1797010380316451/?view_public_for=1797010380316451" target="_blank" title="Facebook">Facebook</a></li>
        <li class="twitter"><a href="https://twitter.com/codeometic" target="_blank" title="Twitter">Twitter</a></li>
        <li class="linkedin"><a href="https://www.linkedin.com/company/testminds?trk=cws-btn-overview-0-0" target="_blank" title="Linkedin">Linkedin</a></li>
      </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a href="index.html" class="logo">
            <img class="img-responsive" alt="Codeometic" src="img/logo-footer.png">
          </a>
        </div>
        <div class="col-md-6">
          <p>© Copyright 2016. All Rights Reserved.</p>
        </div>
        <div class="col-md-4">
          Developed and maintened by <a href="">Jaynandan Prasad</a>
        </div>
      </div>
    </div>
  </div>
</footer>
