

  <!-- Basic -->
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW, ARCHIVE" />
  <meta charset="utf-8">
  <title>Codeometic | Salesforce Consulting</title>
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW, ARCHIVE" />
  <meta name="keywords" content="Salesforce Consulting" />
  <meta name="description" content="Salesforce development">
  <meta name="author" content="codeometic.com">
  <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="../vendor/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../vendor/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="../vendor/owlcarousel/owl.carousel.min.css" media="screen">
  <link rel="stylesheet" href="../vendor/owlcarousel/owl.theme.default.min.css" media="screen">
  <link rel="stylesheet" href="../vendor/magnific-popup/magnific-popup.css" media="screen">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="../css/theme.css">
  <link rel="stylesheet" href="../css/theme-elements.css">
  <link rel="stylesheet" href="../css/theme-blog.css">
  <link rel="stylesheet" href="../css/theme-shop.css">
  <link rel="stylesheet" href="../css/theme-animate.css">

  <!-- Current Page CSS -->
  <link rel="stylesheet" href="../../vendor/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" href="../../vendor/circle-flip-slideshow/css/component.css" media="screen">

  <!-- Skin CSS -->
  <link rel="stylesheet" href="../css/skins/default.css">

  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="../css/custom.css">
  <link rel="shortcut icon" href="misc/favicon.ico" />
  <!-- Head Libs -->
  <script src="../vendor/modernizr/modernizr.js"></script>
