<header id="header">

      <div class="container">
        <div  class="logo">
        <a href="/">
        <img alt="Codeometic" width="300" height="80" data-sticky-width="200" data-sticky-height="60" src="img/logo.png">
        </a>
        </div>
        <nav>
						<ul class="social-icons">
							<li class="facebook"><a href="https://www.facebook.com/Codeometic-1797010380316451/?view_public_for=1797010380316451" target="_blank" title="Facebook">Facebook</a></li>
							<li class="twitter"><a href="https://twitter.com/codeometic" target="_blank" title="Twitter">Twitter</a></li>
							<li class="linkedin"><a href="https://www.linkedin.com/company/testminds?trk=cws-btn-overview-0-0" target="_blank" title="Linkedin">Linkedin</a></li>

						</ul>
					</nav>
        <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

  <div class="navbar-collapse nav-main-collapse collapse">

    <div class="container">
      <ul class="social-icons">
        <li><img alt="sfimg"  src="../img/Registered_ISVPartnerBadge.png" style=" margin-top: -8%;" /></li>
      </ul>
      <nav class="nav-main mega-menu">
        <ul class="nav nav-pills nav-main" id="mainMenu">
          <li >
            <a href="aboutus">
              About Us
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">
              Services
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="sfconsulting.html">Salesforce Consulting</a></li>
              <li><a href="sf-training.html">Training & Development</a></li>
            </ul>
          </li>
          <li class="dropdown mega-menu-item mega-menu-fullwidth ">
            <a class="dropdown-toggle" href="#">
              Expertise
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="mega-menu-content">
                  <div class="conatiner">
                    <div class="col-md-4 ">
                      <ul class="sub-menu">
                        <li>
                          <span class="mega-menu-sub-title">Salesforce Solution</span>
                          <ul class="sub-menu">
                            <li><a href="SalesCloud.html">Sales Cloud Implementation</a></li>
                            <li><a href="serviceCloud.html">Service Cloud Implementation</a></li>
                            <li><a href="SFPlatform.html">Salesforce Custom App Development</a></li>
                            <li><a>Chatter</a></li>
                            <li><a>Integration</a></li>
                            <li><a>Data Migration</a></li>
                            <li><a>Site.com Implementation</a></li>
                            <li><a>App for AppExchange</a></li>
                            <li><a>Connector Development & Integration</a>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="sub-menu">
                        <li>
                          <span class="mega-menu-sub-title">Mobility</span>
                          <ul class="sub-menu">
                            <li><a>Android Development</a></li>
                            <li><a>iOS Development</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="sub-menu">
                        <li>
                          <span class="mega-menu-sub-title">UI/UX Designing</span>
                          <ul class="sub-menu">
                            <li><a>Web App</a></li>
                            <li><a>Mobile App</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li >
            <a  href="contact-us.html">
              Recent Work
              <!--<i class="fa fa-phone"></i> -->
            </a>
          </li>
          <li >
            <a  href="contact-us.html">
              Blogs
              <!--<i class="fa fa-phone"></i> -->
            </a>
          </li>
          <li >
            <a  href="contact-us.html">
              Contact Us
              <!--<i class="fa fa-phone"></i> -->
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
